{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row col-md-4">
            <ul class="list">
                {% for table in tables %}
                    <li><a class="table-link" href="#table-{{ table.table_name }}">{{ table.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row col-md-8">
            <table class="table-data" border="1">
            </table>
            <fieldset class="fieldset-data">
            </fieldset>
        </div>
    </div>
{% endblock %}