<html>
<head>
    <title>Dynamic Models</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
{% include 'partials/header.html' %}
{% block content %}{% endblock %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{#<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>#}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>